<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="tbName" value="" />
    <add key="tbExclude"
         value="alg|aspnet_state|c2wtshost|dllhost|fussvc|HPSIsvc|ibmpmsvc|infocard|locator|lsass|mdm|mscorsvw|msdtc|msiexec|msvsmon|OSE|OSPPSVC|PresentationFontCache|SMSvcHost|snmptrap|spoolsv|sppsvc|svchost|vds|vssvc|wbengine|WmiApSrv" />
    <!--// define system process for grid red mark -->
    <add key="sysProcess"
         value="alg|aspnet_state|c2wtshost|dllhost|fussvc|lsass|mdm|mscorsvw|msdtc|msiexec|msvsmon|sppsvc|svchost|vds|vssvc" />
    <!--// default Ini file first node  -->
    <add key="typeNode" value="rtremote" />
    <!--// use defaultconfigs or use keyvalue pair -->
    <add key="getConfigByKey" value="0" />
    <add key="skipProp" value="BufferSize,TimeOut,ConnectTimeOut" />
    <!--// for virtual property. just for easy use.-->
    <add key="joinProp" value="ServerName,Port" />
    <!--// some folder not to watching...-->
    <add key="skipFolders" value=".svn,Buffer,Log,复件,log,broadcast,cache,license,points,server_depend,signal" />
    <!--// normal config file name -->
    <add key="defaultConfigs"
         value="{&quot;0&quot;:&quot;xy_dwrdld_cfg.dll&quot;,&quot;1&quot;:&quot;MessListRece.ini&quot;,&quot;2&quot;:&quot;MessListSend.ini&quot;,&quot;3&quot;:&quot;Alarm.ini&quot;,&quot;4&quot;:&quot;Receive.ini&quot;,&quot;5&quot;:&quot;cfg.ini&quot;,&quot;6&quot;:&quot;MessList.ini&quot;,&quot;7&quot;:&quot;*.cfg&quot;}" />
    <!--// used for getConfigByKeyis 1 -->
    <add key="keyDataTransfers"
         value="{&quot;alarm&quot;:&quot;Alarm.ini&quot;,&quot;in&quot;:&quot;Receive.ini&quot;,&quot;out&quot;:&quot;cfg.ini&quot;}" />
    <add key="keyDWRemoteAlarm" value="{&quot;in&quot;:&quot;Receive.ini&quot;,&quot;out&quot;:&quot;cfg.ini&quot;}" />
    <add key="keyDwHcfxCalSysSv"
         value="{&quot;alarm&quot;:&quot;Alarm.ini&quot;,&quot;in&quot;:&quot;MessList.ini&quot;}" />
    <add key="keyDwprecal"
         value="{&quot;alarm&quot;:&quot;Alarm.ini&quot;,&quot;pre&quot;:&quot;xy_dwrdld_cfg.dll&quot;,&quot;in&quot;:&quot;MessListRece.ini&quot;,&quot;out&quot;:&quot;MessListSend.ini&quot;}" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
             type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
             type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>