sc create {CompName}{Sys.sAlias}{Biz.bAlias}_{Fac.fAlias} binpath= %cd%\{CompFull}{Sys.sAlias}{Biz.bAlias}_{Fac.fAlias}.exe DisplayName= "{CompFull} {Sys.sAlias} {Biz.bAlias} for {Fac.fAlias}" start= demand
sc description {CompName}{Sys.sAlias}{Biz.bAlias}_{Fac.fAlias} {Fac.fName}{Sys.sShort}{Biz.bName}服务
